<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <p>Fixed height <br>
            100% width
        </p>
        <h3>Header</h3>
    </header>

    <main>
        <aside>
            <h3>Left</h3>
            <p>Fixed width <br>
                100% height
            </p>
        </aside>

        <section>
            <h3>Middle</h3>
            <p>100% width <br>
                100% height
            </p>
        </section>

        <aside>
            <h3>Right</h3>
            <p>Fixed width <br>
                100% height
            </p>
        </aside>
    </main>

    <footer>
        <h3>Footer</h3>
        <p>Fixed height <br>
            100% width
        </p>
    </footer>
</body>

</html>